.main-container {
    padding: 30px 15px;
}
.main-title, 
.instruction-title,
.ingredients-title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}
.ingredients-title {
    margin-top: 10px;
    font-size: 18px;
}

.recipe-description-text {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 12px;
}

.cake-result-img img {
    max-width: 100%;
    height: auto;
}

.yelds-serving {
    margin-top: 24px;
}
.yelds {
    margin-bottom: 0;
}

.time-container {    
    padding: 0 15px;
}
.clock {
    margin-right: 6px;
}
.yelds, 
.prep-time-title, 
.total-time-title,
.cook-time-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 8px;

    line-height: 10px;
    text-transform: uppercase;

    color: #BDBDBD;
}
.prep-time-title, 
.total-time-title,
.cook-time-title {
    margin-bottom: 0;
}

.servings {
    color: #F2994A;
}
.servings,
.total-time,
.prep-time,
.cook-time {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
}

.ingredients-container h4 {
    margin-top: 13px;
    margin-bottom: 24px;

    font-family: Playfair Display;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;

    line-height: 21px;
}
.graham-cracker-ingredients,
.cheesecake-ingredients {
    margin-bottom: 40px;
}
.instruction-description {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
}
.instruction-bold,
.ingredient {
    font-weight: bold;
}
.ingredients-container {
    padding: 0;
}
.ingredients {
    padding: 0 10px;
}

input[type="checkbox"].col-1{
    margin-top: 7px;
    padding: 0 15px;
    transform: scale(1.5);
}
span.ingredients-description {
    padding: 0;
    padding-left: 5px;
}

.serial-num {
    margin-top: 5px;
}
.serial-num div {
    height: 36px;
    width: 36px;

    text-align: center;

    border-radius: 5px;

    background-color: #F2994A;
    color: #FFFFFF;

    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.instruction-container > div[class="row"] {
    margin-top: 10px;
}