.main-container {
    padding: 30px 15px;
}
.main-title, 
.instruction-title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

.recipe-description-text {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 12px;
}

.cake-result-img img {
    max-width: 100%;
    height: auto;
}

.yelds-serving {
    margin-top: 24px;
}
.yelds {
    margin-bottom: 0;
}

.time-container{    
    padding: 0 15px;
}

.yelds, 
.prep-time-title, 
.total-time-title,
.cook-time-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 8px;

    line-height: 10px;
    text-transform: uppercase;

    color: #BDBDBD;
}


.servings {
    color: #F2994A;
}

.servings,
.total-time,
.prep-time,
.cook-time {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
}